@model IEnumerable<PasswordManager.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}

<h1>Список пользователей</h1>

<a class="btn btn-primary mt-1 mb-3" asp-action="Create">Добавить пользователя</a>
 
<table id="super-table" class="table table-hover">
    <thead>
    <tr>
        <th>Email</th>
        <th>Confirmed</th>
        <th>Subscription</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.EmailConfirmed</td>
            @if (user.HasSubscription)
            {
                var context = new ApplicationContext();
                var subscription = context.Subscriptions.FirstOrDefault(s => s.Id == user.SubscriptionId);
                var result = subscription != null ? subscription.Name : "—";
                <td>@result</td>
            }
            else
            {
                <td>—</td>
            }
            <td>
                <a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary my-1" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-sm btn-primary my-1" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <button type="submit" class="btn btn-sm btn-danger my-1">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <th>Email</th>
        <th>Confirmed</th>
        <th>Subscription</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    </tfoot>
</table>

@section Scripts
{
    <script src="js/usersTable.js"></script>
}