@model List<Credential>
@{
    ViewBag.Title = "Мои пароли";
}

<h1>Сохранённые пароли</h1>

@if (Model == null || Model.Count < 1)
{
    <h5>У вас ещё нет сохранённых паролей</h5>
    <a class="btn btn-primary mt-1 mb-3" asp-action="Create">Добавить пароль</a>
}
else
{
    <a class="btn btn-primary mt-1 mb-3 mr-2" asp-action="Create">Добавить пароль</a>
    <a class="btn btn-outline-secondary mt-1 mb-3" asp-controller="Export" asp-action="Index">Экспорт</a>
    <table class="table">
        <tr>
            <th>Источник</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th></th>
        </tr>
        @foreach (var credential in Model)
        {
            <tr>
                <td>@credential.Source</td>
                <td>@credential.Login</td>
                <td class="credential-password-click">
                    <input class="credential-password" type="password" value="@credential.Password" disabled="disabled">
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@credential.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@credential.Id">Изменить</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}

@section Scripts
{
    <script src="js/credentialPassword.js"></script>
}