@model IEnumerable<Models.Feature>
@{
    ViewBag.Title = "Список платных фичей";
}

<h1>Список фичей</h1>

<a class="btn btn-primary mt-1 mb-3" asp-action="Create">Добавить фичю</a>
 
<table id="super-table" class="table table-hover">
    <thead>
    <tr>
        <th>Название</th>
        <th>Контроллер</th>
        <th>Описание</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var feature in Model)
    {
        <tr>
            <td>@feature.Name</td>
            <td>@feature.ControllerName</td>
            <td>@feature.Description</td>
            <td>
                <form asp-action="Delete" asp-route-id="@feature.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@feature.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <th>Название</th>
        <th>Контроллер</th>
        <th>Описание</th>
        <th>Action</th>
    </tr>
    </tfoot>
</table>

@section Scripts
{
    <script src="js/featuresTable.js"></script>
}