@model PasswordManager.ViewModels.GeneratePasswordViewModel

@{
    ViewData["Title"] = "Generator";
}

<h1>@ViewData["Title"]</h1>

<p>Это генератор паролей</p>
<form method="post" asp-controller="Generator" asp-action="Generate">
    <div class="form-inline">
        <button name="action" class="btn btn-primary mr-3 mb-2" value="generate">Сгенерировать пароль</button>
        <div class="form-group mr-3 mb-2">
            <input type="text" class="form-control" value="@Model.GeneratedPassword" disabled="disabled">
            <input type="hidden" asp-for="GeneratedPassword" value="@Model.GeneratedPassword">
        </div>
        @if (@Model.GeneratedPassword != null)
        {
            <button name="action" class="btn btn-primary mr-3 mb-2" value="save">Сохранить</button>
            <button type="button" class="btn btn-outline-secondary mb-2 copy">Скопировать</button>
        }
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="enableAll" asp-for="IsConfigured" value="@Model.IsConfigured" onchange="this.value=this.checked">
        <label class="form-check-label" for="enableAll">Настроить:</label>
    </div>
    <div class="form-inline">
        
        <input class="form-check-input form-control form-control-sm my-2 mr-2 check" style="width: 4em" type="number" id="passwordLength" min="4" max="30" asp-for="PasswordLength" value="@Model.PasswordLength">
        <label class="form-check-label" for="passwordLength">Длина пароля</label>
    </div>
    <div class="form-check">
        <input class="form-check-input check check-box" id="hasLowercase" type="checkbox" asp-for="HasLowercase" value="@Model.HasLowercase" onchange="this.value=this.checked"> 
        <label class="form-check-label" for="hasLowercase">Прописные буквы</label>
    </div>
    <div class="form-check">
        <input class="form-check-input check check-box" id="hasUppercase" type="checkbox" asp-for="HasUppercase" value="@Model.HasUppercase" onchange="this.value=this.checked">
        <label class="form-check-label" for="hasUppercase">Заглавные буквы</label>
    </div>
    <div class="form-check">
        <input class="form-check-input check check-box" id="hasDigit" type="checkbox" asp-for="HasDigit" value="@Model.HasDigit" onchange="this.value=this.checked">
        <label class="form-check-label" for="hasDigit">Цифры</label>
    </div>
    <div class="form-check">
        <input class="form-check-input check check-box" id="hasNonAlphanumeric" type="checkbox" asp-for="HasNonAlphanumeric" value="@Model.HasNonAlphanumeric" onchange="this.value=this.checked">
        <label class="form-check-label" for="hasNonAlphanumeric">Символы</label>
    </div>
</form>

@section Scripts
{
    <script src="js/generatorCheckboxes.js"></script>
}
